body {
    background-color: powderblue;
}

h3 {
    color: yellow;
    font-family: Verdana;
    font-size: 300%;
}

p {
    color: red;
    border: 2px solid palevioletred;
    padding: 30px;
    margin: 50px;
}

a:link {
    color:white;
    background-color: red;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
}

a:visited {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

img {
}

area {
    border: tomato;
}

div {
    background-image: url(/images/chris.png);
    background-repeat: no-repeat;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
    // border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

#t01 tr:nth-child(even) {
    width: 100%;
    background-color: white;
}

#t01 tr:nth-child(odd) {
    width: 100%;
    background-color: black;
}

#t01 th {
    color: red;
}